
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .apply-form {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  

  .apply-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .apply-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .apply-form button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply-form button:hover {
    background-color: #28a745;
  }
  